name: macOS

on:
  push:
    branches: ["**"]

jobs:
  macOS:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
